/* Reset */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Layout tổng */
.body {
  display: flex;
  height: calc(100vh - 60px); /* trừ chiều cao header */
}

/* Header */
header.header {
  height: 60px;
  background: #343a40;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #222;
}

/* Sider (sidebar bên trái) */
.sider {
  width: 220px;
  background: #212529;
  color: #fff;
  padding: 20px 10px;
}
.sider ul{
  list-style: none;
}
.sider a {
  display: block;
  color: #adb5bd;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

.sider a:hover {
  background: #343a40;
  color: #fff;
}

/* Đảm bảo bảng full chiều ngang */
table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

/* Căn giữa hình ảnh */
table td img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

/* Badge trạng thái */
.badge-success {
  background-color: #28a745 !important; /* xanh lá */
  padding: 5px 10px;
  font-size: 13px;
}

.badge-danger {
  background-color: #dc3545 !important; /* đỏ */
  padding: 5px 10px;
  font-size: 13px;
}

/* Nút hành động */
.btn-warning.btn-sm {
  font-size: 13px;
  padding: 4px 8px;
  color: #000;
}

.btn-danger.btn-sm {
  font-size: 13px;
  padding: 4px 8px;
}


/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
    
  }
  to{
    right: -100%;
    display: none;
  }
}

/* End Show Alert ./


/* nút đóng */
[show-alert] [close-alert] {
  background: ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}


/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}
/* End Image Preview */